<configuration>
	<appSettings>
		<add key="FileToCopyPath" value="C:\Users\dsiuser\Desktop\test\"/>
		<add key="NewCopyCBPath" value="C:\Users\dsiuser\Desktop\test\BK_EDS\Backup.zip"/>
		<add key="ProcessPath" value="C:\Users\dsiuser\Desktop\test\PROCESS"/>
		<add key="ChangeDirectory" value="C:\Users\dsiuser\Desktop\test\BK_EDS"/>
		<add key="ConnetionStringDBRISTLSI" value="Data Source=172.17.160.35, 4022;Initial Catalog=DBRISTLSI;User ID=sa;Password=test;MultipleActiveResultSets=True"/>		
		<add key="ConnetionStringMapOnline" value="Data Source=172.16.0.1;Initial Catalog=MapOnline;User ID=test;Password=test;MultipleActiveResultSets=True"/>		
		<add key="ChecklotName" value="C:\Users\dsiuser\Desktop\CBAll\"/>		
		<add key="ExtractPath" value="C:\Users\dsiuser\Desktop\WaferMapping\"/>		
		<add key="CBOutputPath" value="C:\Users\dsiuser\Desktop\CBOutput\"/>		
	</appSettings>
</configuration>